---
---

@import url(https://fonts.googleapis.com/css?family=Montserrat:300,800)

html
  box-sizing: border-box
  font-family: 'Montserrat', arial, sans-serif

*, *:before, *:after
  box-sizing: inherit
  margin: 0
  padding: 0

body
  text-rendering: optimizeLegibility

/* fonts sizes
$font: 'Montserrat', arial, sans-serif
$quoteSign: 7.236em
$banner: 4.236em
$headline: 2.618em
$title: 1.618em
$big: 1.125em
$normal: 1em
$small: 0.875em

/* colors
$apple-green: #72c02c
$slate-purple: #4f4959
$pale-grey: #f8f9fb
$greyish-brown: #4f4f4f
$white: #ffffff

$black-80: rgba(0, 0, 0, 0.8)
$black-50: rgba(0, 0, 0, 0.5)
$black-30: rgba(0, 0, 0, 0.3)
$black-12: rgba(0, 0, 0, 0.12)


/* border radius
$radius: 8px

/* box-shadow
$shadow-one: 0 10px 30px 0 rgba(0, 0, 0, 0.1)
$shadow-two: 0 10px 30px 0 rgba(0, 0, 0, 0.25)
$subscribe-shadow: 1px 6px 17px 2px rgba(16, 15, 15, 0.24)

/* media queries
$screen-xm-min: 280px
$screen-sm-min: 768px
$screen-md-min: 992px
$screen-lg-min: 1200px

/* headlines
h1
  font-size: $banner
  color: $greyish-brown
h2
  font-size: $headline
  color: $greyish-brown
h3
  font-size: $title
  color: $greyish-brown
h4
  font-size: $big
  color: $greyish-brown
h5
  font-size: $normal
  color: $greyish-brown
h6
  font-size: $small
  color: $greyish-brown

p
  font-size: $normal
  letter-spacing: 0.75px
  line-height: 30px
  color: $black-80

strong
  color: $black-50

a
  font-size: 18px
  font-family: 'Montserrat', sans-serif
  color: $apple-green
  text-decoration: none


a:hover
  text-decoration: underline

/* Icon Forward link effect

.hvr-icon-forward
  display: inline-block
  cursor: pointer
  padding: 8px
  vertical-align: middle
  -webkit-transform: translateZ(0)
  transform: translateZ(0)
  box-shadow: 0 0 1px rgba(0, 0, 0, 0)
  -webkit-backface-visibility: hidden
  backface-visibility: hidden
  -moz-osx-font-smoothing: grayscale
  position: relative
  padding-right: 2.2em
  -webkit-transition-duration: 0.1s
  transition-duration: 0.1s
  font-weight: 800
  &:before
    content: ">"
    position: absolute
    right: 1em
    padding: 0 1px
    -webkit-transform: translateZ(0)
    transform: translateZ(0)
    -webkit-transition-duration: 0.1s
    transition-duration: 0.1s
    -webkit-transition-property: transform
    transition-property: transform
    -webkit-transition-timing-function: ease-out
    transition-timing-function: ease-out
  &:hover:before, &:focus:before, &:active:before
    -webkit-transform: translateX(4px)
    transform: translateX(4px)

/* button style
.btn
  font-size: 18px
  font-family: 'Montserrat', sans-serif
  text-decoration: none
  color: #ffffff
  background: rgba(0, 0, 0, 0.12)
  border-radius: 10em
  padding: 16px 40px
  margin: 20px 0
  border: none
  cursor: pointer

.btn--apple
  background: $apple-green
  &--outline
    background: $apple-green
    border: 2px solid white
    &:hover
      background: white
      color: $apple-green
      transition: all .2s ease-in-out

.btn--slate
  background: $slate-purple
  &--outline
    background: $slate-purple
    border: 2px solid white
    &:hover
      background: white
      color: $slate-purple
      transition: all .2s ease-in-out

.hidden
  display: none !important


/* Ripple Out button effect
.hvr-ripple-out
  display: inline-block
  vertical-align: middle
  -webkit-transform: translateZ(0)
  transform: translateZ(0)
  box-shadow: 0 0 1px rgba(0, 0, 0, 0)
  -webkit-backface-visibility: hidden
  backface-visibility: hidden
  -moz-osx-font-smoothing: grayscale
  position: relative
  &:before
    content: ''
    position: absolute
    border: #72C02C solid 6px
    border-radius: 10em
    top: 0
    right: 0
    bottom: 0
    left: 0
    -webkit-animation-duration: 1s
    animation-duration: 1s
  &:hover:before, &:focus:before, &:active:before
    -webkit-animation-name: hvr-ripple-out
    animation-name: hvr-ripple-out
    text-decoration: overline

@-webkit-keyframes hvr-ripple-out
  100%
    top: -12px
    right: -12px
    bottom: -12px
    left: -12px
    opacity: 0

@keyframes hvr-ripple-out
  100%
    top: -12px
    right: -12px
    bottom: -12px
    left: -12px
    opacity: 0

/* grid
.flex-25
  flex: 1 1 25%

.flex-33
  flex: 1 1 33.3333%

.flex-50
  flex: 1 1 50%

.flex-66
  flex: 1 1 66.6666%

.flex-100
  flex: 1 1 100%

hr
  opacity: 0.2

/* list style
ul.check
  list-style-image: url('../img/check.svg')
  line-height: 40px
  text-align: left
  margin: 20px 50px
  li
    line-height: 30px
    margin: 15px 0
  span
    margin-left: 10px
    display: block

/* navigation
nav
  max-width: 1200px
  margin: 0 auto
  height: 120px
  justify-content: space-between
  display: flex
  align-items: center
  padding: 25px
  flex-wrap: wrap

.nav-bullets
  display: flex

.nav-bullets li
  padding: 12px 0 12px 28px
  list-style: none

.nav-bullets li a
  color: #ffffff

.nav-bullets li:last-child a
  background: rgba(255,255,255,0.2)
  border-radius: 100px
  transition: 200ms ease-in-out
  padding: 8px 20px
  cursor: pointer

.nav-bullets li:last-child a:hover
  background: rgba(255,255,255,0.5)
  color: $white

@media (min-width: $screen-xm-min) and (max-width: $screen-sm-min)
  header
    height: 840px
  .logo
    margin: 0 auto
    text-align: center
    padding: 28px
    width: 100%


@import _home
@import _contact
@import _blogfeed
@import _article