/* General styles for the modal */


/*
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the
perspective effects (not including the modals and the overlay).
*/

.md-perspective,
.md-perspective body {
    height: 100%;
    overflow: hidden;
}

.md-perspective body {
    background: #222;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
}

.container {
    background: #ffffff;
    min-height: 100%;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 8px;
}

.flex-direction {
    display: flex;
}

.md-show {
    visibility: visible;
}

.md-hide {
    display: none;
}

.form-modal-input {
    border: none;
    background: #ffffff;
    color: #696969;
    margin: 10px 8px;
    padding: 12px;
    outline: none;
    font-size: 16px;
    border: solid 1px #e8e8e8;
    font-family: 'Montserrat', arial, sans-serif;
    border-radius: 8px;
}

.form-modal-greeting {
    color: #4f4f4f;
    font-weight: 800;
    font-size: 1.618em;
    margin: 0;
    padding: 0.4em;
    text-align: center;
    opacity: 0.8;
    border-radius: 3px 3px 0 0;
    padding-top: 5%;
}

#md-confirmation {
    max-width: 630px;
    min-width: 320px;
    height: 400px;
}

#md-confirmation h4 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-weight: 300;
    line-height: 31px;
    color: rgba(0, 0, 0, 0.5);
}

.high-five {
    width: 100%;
    height: 83px;
    font-weight: 300;
    letter-spacing: 0.7px;
    text-align: left;
    color: #72c02c;
    margin: 14% auto 5%;
}

.center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-wrapper>img {
    width: 30%;
    margin-top: 22%;
}

#button-form {
    cursor: pointer;
}

.md-show~.md-overlay {
    opacity: 1;
    visibility: visible;
}


/* Content styles */

.md-content {
    color: rgba(0, 0, 0, 0.8);
    background: #ffffff;
    position: relative;
    border-radius: 8px;
    margin: 0 auto;
}

.md-content #form-container,
.md-content #md-confirmation {
    padding: 15px 40px 30px;
    margin: 0;
    font-weight: 300;
    font-size: 1.15em;
}

.md-content>div p {
    margin: 0;
    padding: 10px 0;
}

.md-content>div ul {
    margin: 0;
    padding: 0 0 30px 20px;
}

.md-content>div ul li {
    padding: 5px 0;
}


/* Individual modal styles with animations/transitions */


/* Effect 1: Fade in and scale up */

.md-effect-1 .md-content {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}