--- 
layout: acklen
title: Acklen Avenue | About Us
---

<header class="generic-header">
  <h1>About Us</h1>
</header>
<section class="blog-content">

  <p><strong>Acklen Avenue</strong> is a team of <strong>agile software development professionals</strong> who are passionate about clean code and simple user experiences. Thanks to our team's heroic efforts and our clients' amazing ideas, Acklen Avenue
    lovingly delivers software daily from Nashville and Honduras to partners around the world.</p>

  <p>Each development team consists of an Acklen-side product owner to continually advocate for your vision, a business analyst, quality assurance, two developers, and designers. Our goal in each engagement is to understand the client’s product and goals
    so well that each team member could give your elevator pitch on your behalf. <strong>We own our clients’ success.</strong></p>

  <h3>Our Core Principles, Practices and Patterns</h3>

  <img src="img/aa-principles.svg" alt="Core Principles" />

  <h2>Acklen Avenue Summit 2016 Highlights</h2>

  <div class="video-wrapper">
    <iframe src="https://www.youtube.com/embed/haJF_6oiPKE" frameborder="0" allowfullscreen></iframe>
  </div>
  <!-- VIDEO WRAPPER -->
</section>
{% include DevelopmentWithHeart.html %}
{% include ContactUs.html %}