--- 
layout: acklen
title: Acklen Avenue | Blog 
---

<header class="blog-list-header">
  <h1>/ Blog /</h1>
</header>


<section class="blog-list-wrapper">

  <h2>We Build Community!</h2>

  <ul class="blog-list">

    {% for post in site.posts %}
    <li class="blog-list-item">
      <a class="blog-list-thumb" href="{{ post.url }}"><img src="{{ post.image }}" alt="" /></a>
      <a class="blog-list-item-title" href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}

    <div class="clear"></div>
  </ul>
</section><!-- BLOG LIST -->

{% include DevelopmentWithHeart.html %} 
{% include ContactUs.html %}