---
layout: acklen
title: Acklen Avenue
---

<header class="video-header">

  <div class="tagline">

   
    
    <h1> Custom Software Development with Heart</h1>
    <img src="/img/pixelheart.svg">
    <h4>By combining our passion with agile development methods, and by prioritizing your most important requirements, we deliver clean and useful software every two weeks.</h4>
    <a href="about.html"><button class="btn btn-go">How We Do it</button></a>
  </div>
  <!-- TAGLINE -->

  <video id="video-bg" loop="true" preload="auto" autoplay="true" muted="muted" volume="0" poster="vid/aa-videobg-poster.jpg">
        <source src="vid/aa-videobg.mp4" type="video/mp4"></source>
         "Your Browser does not support HTML 5 Video."
     </video>
</header>
<!-- VIDEO HEADER -->

<section id="services">


  <div class="wrapper">
    <h3>/CUSTOM SOFTWARE/</h3>

    <a href="custom-software.html#mobile" class="service-btn">
      <div class="service" id="mobile-service">
      <div class="service-inner">
      	  <div class="icon">
      	    <img src="img/mobile.png">
      	  </div>
      	  <!-- ICON -->
      	  <div class="description">
      	    <h4>Mobile Apps</h4>
      	  </div><!-- DESC -->
      	</div><!-- SERVICE INNER -->
      	</div><!-- SERVICE ITEM -->
      </a>

    <a href="custom-software.html#web" class="service-btn">
    <div class="service" id="web-service">
    	  <div class="icon">
    	    <img src="img/web.png">
    	  </div>
    	  <div class="description">
    	    <h4>Web Apps</h4>
    	  </div>
    	</div>
    </a>

    <a href="custom-software.html#desktop" class="service-btn">
    <div class="service" id="desktop-service">
    	  <div class="icon">
    	    <img src="img/desktop.png">
    	  </div>
    	  <div class="description">
    	    <h4>Desktop Apps</h4>
    	  </div>
    	</div><!-- SERVICE -->
    </a>

    <div class="clear"></div>
  </div>
  <!-- .SERVICES -->

</section>
<section id="clients">

  <div class="bg">
    <div class="wrapper">
      <h3>/CLIENTS/</h3>
      <h4>Customers who have trusted us:
            </h4>
      <ul>
        <li><img src="img/vanderbilt.png" alt=""></li>
        <li><img src="img/tafs.png" alt=""></li>
        <li><img src="img/invivolink.png" alt=""></li>
        <li><img src="img/juicebox.png" alt=""></li>
      </ul>

      <div class="casestudy">

        <img src="img/drillnomics-mockup.png" alt="">
        <div class="casetudy-text">
          <h2>Drillnomics</h2>
          <p>an easy-to-use web app that generates high value analytics for the oil and gas industry</p>
          <a target="_blank" href="drillnomics-case-study.html"><button class="btn btn-go">View Project</button></a>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="quiz-wrapper">
	<form action="" id="leads-quiz" method="post" novalidate="">
           
    <h2 class="quiz-title">Does this sound familiar?</h2>
               
	<div class="quiz-blocks-wrapper">
		<div class="quiz-block">
			<img src="img/quiz-computer.svg" alt="" class="quiz-icon" />
			<div class="label-flex">
				<div class="custom-checkbox">
					<input type="checkbox" name="quiz" id="check-1" value="Technology is an essential component in my company.">
					<label for="check-1">
					</label>
					
				</div><!-- CUSTOM CHECKBOX -->
				<span class="option-title">Technology is an essential component in my company.</span>
			</div><!-- LABEL FLEX -->
		</div><!-- QUIZ BLOCK 1 -->
                     
                
        <div class="quiz-block">
            <img src="img/quiz-rocket.svg" alt="" class="quiz-icon" />       
          	
          	<div class="label-flex">
          		<div class="custom-checkbox">
          			<input type="checkbox" name="quiz" id="check-2" value="My product has a growing customer base and/or funding.">
          			<label for="check-2">
          			</label>
          			
          		</div><!-- CUSTOM CHECKBOX -->
          		<span class="option-title">My product has a growing customer base and/or funding.</span>
          	</div><!-- LABEL FLEX -->
        </div><!-- QUIZ BLOCK 2 -->
               

               
	<div class="quiz-block">
		<img src="img/quiz-ideas.svg" alt="" class="quiz-icon" />       
		<div class="label-flex">
			<div class="custom-checkbox">
				<input type="checkbox" name="quiz" id="check-3" value="My team is innovating.">

			    <label for="check-3">
			    
				</label>
			</div><!-- CUSTOM CHECKBOX -->
			<span class="option-title">My team is innovating.</span>
		</div><!-- LABEL FLEX -->
	</div><!-- QUIZ BLOCK 3 -->
		
		</div><!-- QUIZ BLOCKS WRAPPER -->
     </form>
     
     
     
     <div class="md-modal md-effect-3" id="modal-1">
			<div class="md-content">
				
				<div>
					<img class="fireworks" src="img/quiz-fireworks.svg" alt="" />
					<h3>Awesome!</h3>
					<p class="quiz-congratulations">You sound a lot like our ideal client and we can't wait to learn more!</p>
					
					<form id="leads-form">
                <input type="text" id="contact-name" placeholder="Name" />
                <input type="text" id="contact-company" placeholder="Company" />
                <input type="email" id="contact-email" placeholder="E-mail" required />
                <input type="submit" value="Send" />
            </form>
            <div id="sending-message" class="hidden">
                <h4>Your message is being sent...</h2>
            </div>
            <div id="success-message" class="hidden">
                <h4>Thank you! We will reach out shortly.</h2>
            </div>
					
					<button class="md-close">X</button>
				</div><!-- INNER -->
			</div><!-- MODAL CONTENT -->
		</div><!-- MODAL -->
		
		<div class="md-overlay"></div>
</section>

{% include Team.html %}
<section id="blog">
  <h3 class="invert">/BLOG/</h3>

  <div class="wrapper">
    {% for post in site.posts limit:3 %}
    <div class="article">
      <div class="image" style="background-image: url('{{ post.image }}');"></div>
      <a href="{{ post.url }}"><h5>{{ post.title }}</h5></a>
      <p>{{ post.excerpt }}</p>
      <a href="{{ post.url }}"><button>Read More</button></a>
    </div>
    {% endfor %}
    <div class="clear"></div>
  </div>

</section>
<!-- SECTION ID BLOG -->
{% include DevelopmentWithHeart.html %}
{% include ContactUs.html %}