---
layout: acklen
title: Team Members | Acklen Avenue 
---
<header class="page-header page-header--ourwork">
	{% include menu.html %}
	<h1>About us</h1>
	<h2>Eleganty crafted, stress-free software at the speed of now</h2>
</header>


<!--{% include about-us-tabs.html %}-->

<div class="team-filter-container">
	<div class="team-filter-description">
		<h2>Meet the Team</h2>
		<p>
			Each project we undertake makes the world a better place. This are the people that make those projects a success. Meet the Ackleners.
		</p>
	</div>

{% include team-members-filter.html %}

</div>

{% include teamlist.html %}

<div class="team-apply-section">

	<h3 class="team-apply-text">We’re <small>(almost)</small> always Hiring! <br>Got what it takes?</h3>
	<a class="btn btn--apple hvr-ripple-out md-trigger" data-modal="modal-13">Apply for a Job</a>

</div>

{% include ContactUs.html %}