<section id="case-studies-feed">


	<article class="case-study-card fullcover-case">
		<img src="img/concert-demo.jpg" class="fullcover-case-bg" alt="">
		<div class="cs-data">
			<a target="_blank" href="http://www.hurdl.com" class="cs-website">hurdl.com</a>
			<h3 class="cs-title">Connecting with fans, more powerfully than ever possible.</h3>
			<p class="cs-description">IoT wearables that electrify audiences and connect entertainers to their most loyal fans.</p>
			<div>
				<a href="#" class="btn hvr-ripple-out btn--apple">Learn More</a>
			</div>
		</div><!-- CS DATA -->
		<div class="cs-thumbs-wrapper">
			<div class="cs-thumb-card">
					<img src="img/hurdl-screen.png" alt="">
			</div><!-- CS THUMB CARD -->
		</div><!-- CS THUMBS WRAPPER -->
	</article>
	<article class="case-study-card fullcover-case">
		<img src="img/oil-cover.jpg" class="fullcover-case-bg" alt="">
		<div class="cs-data">
			<a target="_blank" href="http://www.drillnomics.com" class="cs-website">drillnomics.com</a>
			<h3 class="cs-title">Powerful, Intuitive Analytics for the Oil and Gas Industry.</h3>
			<p class="cs-description">A simple, easy-to-use web application which would let users generate the necessary calculations  without needing to know advanced mathematics.</p>
			<div>
				<a href="#" class="btn hvr-ripple-out btn--apple">Learn More</a>
			</div>
		</div><!-- CS DATA -->
		<div class="cs-thumbs-wrapper">
			<div class="cs-thumb-card">
					<img src="img/drillnomics-screen.png" alt="">
			</div><!-- CS THUMB CARD -->
		</div><!-- CS THUMBS WRAPPER -->
	</article>
	<article class="case-study-card slanted-case">
		<div class="cs-data">
			<a href="#" class="cs-website">tafs.com</a>
			<h3 class="cs-title">The Freight Business. Streamlined</h3>
			<p class="cs-description">A simple yet powerful piece of technology meant big changes for this financial services company and it's customers.</p>
			<div>
				<a href="#" class="btn hvr-ripple-out btn--apple">Learn More</a>
			</div>
		</div><!-- CS DATA -->
		<div class="cs-slanted-cover">

			<div class="cs-cover-wrapper">
				<img src="img/trucking-bg.jpg" alt="">
			</div><!-- CS COVER WRAPPER -->
			<img class="cs-cover-screen" src="img/tafs-iphone.png" alt="">
		</div><!-- CS SLANTED COVER -->
	</article>
</section>
