
<footer>
    {% include hatchbuckTracking.html %}

    <div class="footer__container">
        <div class="flex-33">
            <img class="footer__logo" src="{{ "/img/aa-logo.svg" | prepend: base_url }}" alt="Acklen Avenue Logo">
        </div>
        <div class="flex-33 contact">
            <h4>QUICK LINKS</h4>
            <ul>
                <li><a href="{{ "/courses/" | prepend: base_url }}">Courses</a></li>
                <li><a href="https://acklen-avenue.breezy.hr">Jobs</a></li>
            </ul>
        </div>
        <div class="flex-33 contact">
            <h4>CONTACT</h4>
            <ul>
                <li><a href="tel:615-988-4700">(615) 988-4700</a></li>
                <li class="contact-info-email"><a href="mailto:info@acklenavenue.com;">info@acklenavenue.com</a> </li>
             </ul>
             <h4>NASHVILLE</h4>
            <ul>
                <li> 1033 Demonbreun Street #300, Nashville, TN 37203 </li>
             </ul>
             <h4>CHICAGO</h4>
            <ul>
                <li> 171 N Aberdeen St Suite 400, Chicago, IL 60607</li>
             </ul>
        </div>
         <div class="flex-33 followUs">
            <h4>Follow Us</h4>
            <ul>
                <li><a href="https://twitter.com/acklenavenue" target="_blank"><img src="{{ "/img/twitter.svg" | prepend: base_url }}" alt="twitter"></a></li>
                <li><a href="https://www.facebook.com/acklenavenue/" target="_blank" ><img src="{{ "/img/facebook.svg" | prepend: base_url }}" alt="facebook"></a></li>
                <li><a href="https://www.linkedin.com/company/acklen-avenue" target="_blank" ><img src="{{ "/img/linkedin.svg" | prepend: base_url }}" alt="linkedin"></a></li>
                <li><a href="https://github.com/AcklenAvenue" target="_blank" ><img src="{{ "/img/github.svg" | prepend: base_url }}" alt="github"></a></li>
             </ul>
        </div>
    </div>
    <hr>
    <div class="copyright">
        <p>2018 © Acklen Avenue, LLC. All Rights Reserved.</p>
    </div>
</footer>
