<section id="contact-us">
    <h3>/CONTACT US/</h3>
    <div class="wrapper">
        <div class="contact-form">
            <form id="contact-form">
                <input type="text" id="contact-name" placeholder="Name" />
                <input type="email" id="contact-email" placeholder="E-mail" required />
                <input type="text" id="contact-project" placeholder="Subject" />
                <textarea id="contact-message" placeholder="Message"></textarea>
                <input type="submit" value="SEND MESSAGE" />
            </form>
            <div id="sending-message" class="hidden">
                <h2>Your message is being sent...</h2>
            </div>
            <div id="success-message" class="hidden">
                <h2>Your message has been sent</h2>
            </div>
        </div>
        <div class="contact-info">
            <ul>
                <li><img src="/img/icon-home.svg"> 1033 Demonbreun Street #300, Nashville, TN 37203</li>
                <li><img src="/img/icon-mail.svg"> info@acklenavenue.com</li>
                <li><img src="/img/icon-tel.svg"> (615) 988-4700</li>
            </ul>
            <div class="social-links">
                <h4>/STAY CONNECTED/</h4>
                <div class="social-icons">
                    <a target="_blank" href="https://www.facebook.com/acklenavenue/"><img src="/img/facebook-icon.svg"></a>
                    <a target="_blank" href="https://twitter.com/acklenavenue"><img src="/img/twitter-icon.svg"></a>
                    <a target="_blank" href="https://www.linkedin.com/company/acklen-avenue"><img src="/img/linked-in-icon.svg"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<script async defer src="https://boiling-woodland-85980.herokuapp.com/slackin.js"></script>
