
<footer>
    {% include hatchbuckTracking.html %}

    <div class="footer__container">
        <div class="flex-33">
            <img src="img/aa-logo.svg" alt="Acklen Avenue Logo">
        </div>
        <div class="flex-33 contact">
            <h4>CONTACT</h4>
            <ul>
                <li> (615) 988-4700 </li>
                <li class="contact-info-email"><a href="mailto:info@acklenavenue.com;">info@acklenavenue.com</a> </li>
                <li> 1033 Demonbreun Street #300,<br >Nashville, TN 37203 </li>
             </ul>
        </div>
         <div class="flex-33 followUs">
            <h4>Follow Us</h4>
            <ul>
                <li><a href="https://twitter.com/acklenavenue" target="_blank"><img src="img/twitter.svg" alt=""></a></li>
                <li><a href="https://www.facebook.com/acklenavenue/" target="_blank" ><img src="img/facebook.svg" alt=""></a></li>
                <li><a href="https://www.linkedin.com/company/acklen-avenue" target="_blank" ><img src="img/linkedin.svg" alt=""></a></li>
                <li><a href="https://github.com/AcklenAvenue" target="_blank" ><img src="img/github.svg" alt=""></a></li>
             </ul>
        </div>
    </div>
    <hr>
    <div class="copyright">
        <p>2017 © Acklen Avenue, LLC. All Rights Reserved.</p>
    </div>
</footer>
