<section id="courses">
  <div class="course">
    <div class="course__content flex-50">
      <h2>Web Development Course</h2>
      <p><i>Learn to build dynamic web applications with html, css and react.js </i></p>
      <div class="course__description">
        <div class="flex-33">
          <h4>Instructor</h4>
          <p>Dante Dubón</p>
        </div>
        <div class="flex-33">
          <h4>Duration</h4>
          <p>30 Hours</p>
        </div>
        <div class="flex-33">
          <h4>Investment</h4>
          <p>L. 500</p>
        </div>
      </div>
      <p><a class="btn hvr-ripple-out btn--apple" target="_blank"
        href="https://docs.google.com/forms/d/e/1FAIpQLSeQbjKwJ8rld1bks-3gQ_KZRN4qWKn5YBA_fm4R2HWUMx-WyA/viewform?usp=sf_link">Enroll Now</a>
      </p>
    </div>
    <div class="course__photo flex-50">
      &nbsp;
    </div>
  </div>
</section>