<section class="text-block">
    <h2>Project Summary</h2>
    <p class="text-block--two-columns">
        Buffalo Royalties is an oil and gas investment and management company with a diverse mineral property portfolio across the 48 contiguous states. They have years of experience in leasing, selling, and buying mineral properties, as well as marketing properties
        to other companies.For the acquisition of new mineral rights and properties, an economic evaluation process is essential. The evaluation process normally takes several days for every opportunity. Other software in the market is expensive and extremely
        complex, requiring advanced training in order to do the most basic calculations. Buffalo Royalties approached Acklen Avenue to develop their vision: a simple, easy-to-use web application which would let users generate the necessary calculations
        without needing to know advanced mathematics.
    </p>
</section>
<section class="showcase">
    <img src="{{ "/img/drillnomic-laptop-2.png" | prepend: base_url }}" alt="pixl device">
    <small>drillnomics dashboard</small>
</section>
<section class="text-block text-block--small">
    <h2>The Approach</h2>
    <p class="text-block--centered">
        Acklen / Avenue built a system that was intuitive, easy to use, and could efficiently manage data from various data sources. Users now upload data from existing datasets and add their own domain knowledge to quickly and easily evaluate new opportunities.
        Data can be quickly and easily modified and the resulting change in ROI is easily shown instantly through charts, graphs, and PDF reports.
    </p>
</section>
<section class="screens">
    <div class="screens--drillnomics ">
        <div class="screens--drillnomics__twoScreens">
            <img class="screens--drillnomics__twoScreens__one" src="{{ "/img/drillnomics-dashboard-1.png" | prepend: base_url }}" alt="">
            <img class="screens--drillnomics__twoScreens__two" src="{{ "/img/drillnomics-dashboard-2.png" | prepend: base_url }}" alt="">
        </div>
        <div class="screens--drillnomics__caption">
            <h2>The Evolution</h2>
            <p>As a result, the processing time needed to evaluate an opportunity has been reduced. What once took days now only takes a few hours. What once required a highly-trained expert in oil property economics now can be accomplished by anyone with
                a comparatively small amount domain knowledge.
            </p>
        </div>
        <img src="{{ "/img/drillnomics-dashboard-3.png" | prepend: base_url }}" alt="">

    </div>
</section>
<section class="tecnologiesUsed">
    <h2>Technologies Used</h2>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Angular JS</li>
        <li>C#</li>
        <li>.Net</li>
        <li>NancyFx</li>
        <li>NHibernate</li>
        <li>MSSQL</li>
    </ul>
</section>
<section class="theResults theResults--drillnomics">
    <div class="theResults__box">
        <h2>The Results</h2>
        <ul class="check">
            <li><span>Since its launch in April 2015, Drillnomics has had a consistent growth rate of 50% month over month and has a trial to paid subscriber conversion rate of 60%.</span></li>
            <li><span>Today, Drillnomics is an innovative tool for oil and gas professionals.</span></li>
        </ul>
        <a class="hvr-icon-forward" target="_blank" href="https://www.drillnomics.com/">www.drillnomics.com</a>
    </div>
</section>
<section id="testimonialSingle">
    <div class="testimonial__contain">
        <img class="rouded-img" src="{{ "/img/conrad-goeringer.jpg" | prepend: base_url }}">
        <h3>Conrad Goeringer, RL</h3>
        <h4 class="testimonial-founder">Manager of Business Development at Drillnomics</h4>
        <span class="quotesign">&#8220;</span>
        <p><em>Even with no prior oil and gas industry experience, Acklen Avenue was able to quickly learn and integrate high-level industry-specific economic analysis concepts and produce a phenomenal  software program for us.</em></p>

    </div>
</section>
{% include callToAction.html %}