<section id="StressFreeWizardry">
	<p>In a world where software development is often slow, expensive, risky, &amp; painful, 
you want <span>simple</span>, <span>trustworthy</span>, <span>consistent</span>, and <span>high-quality</span>.</p>
	<h2>You Want Stress-Free Wizardry</h2>
</section>
<section id="drivenByPassion">
	<h2>What Makes Us Different</h2>
	<div class="card-container">
		<div class="card">
			<div class="front">
				<div class="card-img">
					<img src="img/agile.svg" alt="Agile" />
				</div>
				<div class="card-body">
					<h3>Agile</h3>
				</div>
			</div>
			<div class="back">
				<p>Agile isn't a buzzword for us. It's the commitment that we will deliver value early and often, and stay responsive to your highest priorities.</p>
			</div>
		</div>
	</div>
	<div class="card-container">
		<div class="card">
			<div class="front">
				<div class="card-img">
					<img src="img/client-success.svg" alt="Client Success" />
				</div>
				<div class="card-body">
					<h3>Client <br/>Success</h3>
				</div>
			</div>
			<div class="back">
				<p>We're no "rent-a-dev." We work like an in-house team that is as passionate about your product as you are. We listen to understand your needs and think them through with you to deliver the highest quality.</p>
			</div>
		</div>
	</div>
	<div class="card-container">
		<div class="card">
			<div class="front">
				<div class="card-img">
					<img src="img/quality.svg" alt="Quality" />
				</div>
				<div class="card-body">
					<h3>Quality</h3>
				</div>
			</div>
			<div class="back">
				<p>Clean, high-quality code is critical for scalability and maintainability, but it requires unfailing commitment. Our practices and standards are best-in-class, and we don't compromise them.</p>
			</div>
		</div>
	</div>
</section>
