<section id="factsAndTech">
  <div class="facts">
    <div class="facts__content flex-50">
      <h2>Want to tell your co-workers more about us? </h2>
      <p>This gives you all the critical info you need to know and none of the stuff you don't.</p>
      <p><a class="btn btn--slate--outline" target="_blank"
          href={{ "/assets/acklen-avenue-factsheet.pdf" | prepend: base_url }}>Download our facts</a></p>
    </div>
    <div class="facts__photo flex-50">
      &nbsp;
    </div>
  </div>
  <div class="tech">
    <div class="tech__content flex-50">
      <h2>Technologies</h2>
      <p class="tech__description">Most of our work is in these technologies, but our broad skill set
        gives us the flexibility to explore and choose the right technology
        for each project.
      </p>
      <ul class="tech__tabs">
        <li rel="tech__panel2"class="tech--active">Web</li>
        <li rel="tech__panel1">Mobile</li>
        <li rel="tech__panel3">Desktop</li>
      </ul>
    </div>
    <div class="tech__img flex-50">
      <div id="tech__panel1" class="tech__panel">
      <img src="img/acklenavenue-mobile-tech.svg" alt="Acklen Avenue Mobile Technology">
     </div>
     <div id="tech__panel2" class="tech__panel tech--active">
      <img src="img/acklenavenue-web-tech.svg" alt="Acklen Avenue Web Technology">
    </div>
    <div id="tech__panel3" class="tech__panel">
      <img src="img/acklenavenue-desktop-tech.svg" alt="Acklen Avenue Desktop Technology">
    </div>
  </div>
</div>
</section>