<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Acklen Avenue is a team of agile software development professionals who are passionate about clean code and simple user experiences. Nashville, Tennessee" />
    <meta name="keywords" content="Software Development, Agile, Nashville, Web Apps, Mobile Apps, Desktop Apps" />
    <meta name="author" content="Acklen Avenue" />
    <meta name="robots" content="noindex, nofollow">
    <title>Acklen Avenue | Software Development Company</title>

    <!-- Facebook -->
    <meta property="og:url"           content="http://acklenavenue.com/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Acklen Avenue" />
    <meta property="og:description"   content="Software Development Company" />
    <!-- Twitter -->
    <meta name="twitter:card"         content="summary" />
    <meta name="twitter:site"         content="@acklenavenue" />
    <meta name="twitter:creator"      content="@acklenavenue" />
    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="">
    <link rel="icon" type="image/png" href="" sizes="32x32">
    <link rel="icon" type="image/png" href="" sizes="16x16">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#72C02C">
    <meta name="theme-color" content="#72C02C">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/modal.css" />
</head>
