<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Acklen Avenue is a team of agile software development professionals who are passionate about clean code and simple user experiences. Nashville, Tennessee" />
    <meta name="keywords" content="Software Development, Agile, Nashville, Web Apps, Mobile Apps, Desktop Apps" />
    <meta name="author" content="Acklen Avenue" />
    <title>Acklen Avenue | Software Development Company</title>

    <!-- Facebook -->
    <meta property="og:url"           content="http://acklenavenue.com/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Acklen Avenue" />
    <meta property="og:description"   content="Software Development Company" />
    <meta property="og:image"         content="img/thumbnail.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <!-- Twitter -->
    <meta name="twitter:card"         content="summary" />
    <meta name="twitter:site"         content="@acklenavenue" />
    <meta name="twitter:creator"      content="@acklenavenue" />
    <meta name="twitter:image"        content=“/img/thumbnail.jpg” />
    <!-- Icons -->
    <link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
    <meta name="theme-color" content="#72C02C">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/modal.css" />
    <!-- Google analitycs -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42413832-1', 'auto');
      ga('send', 'pageview');

    </script>
</head>
