<section id="ourwork">
    <div class="casestudy casestudy--background-one">
    <div class="casestudy__content--layout-B flex-50">
      <a class="casestudy__content--layout-B__clientsite" target="_blank" href="https://www.hurdl.com/">hurdl.com</a>
      <a href="{{ "/hurdl.html" | prepend: base_url }}"><h2>Connecting with fans, more Powerful than ever possible</h2></a>
      <p><i>IoT wearables that electrify audiences and connect entertainers to their most loyal fans.</i></p>
      <p><a class="btn hvr-ripple-out btn--apple" target="_blank"
        href="{{ "/hurdl.html" | prepend: base_url }}">Learn More</a>
      </p>
    </div>
    <div class="casestudy__photo--layout-B flex-50">
      <img class="casestudy__photo--layout-B--hurdl1" src="/img/raspberry_limeball.png" alt="">
      <img class="casestudy__photo--layout-B--hurdl2" src="/img/pixl.png" alt="">
    </div>
  </div>
  <div class="casestudy">
    <div class="casestudy__content--layout-A flex-50">
      <a class="casestudy__content--layout-A__clientsite" target="_blank" href="https://www.tafs.com">tafs.com</a>
      <a href="{{ "/tafs.html" | prepend: base_url }}"><h2>The Freight Business. Streamlined.</h2></a>
      <p><i>A simple, easy-to-use web application that allows users to determine the value of properties in minutes - no advanced mathematics knowledge required.</i></p>
      <p><a class="btn hvr-ripple-out btn--apple" target="_blank"
        href="{{ "/tafs.html" | prepend: base_url }}">Learn More</a>
      </p>
    </div>
    <div class="casestudy__photo--layout-A casestudy__photo--layout-A--background-one flex-50">
      <img class="casestudy__photo--layout-A--tafs2" src="/img/tafs-mockup-2.png" alt="">
      <img class="casestudy__photo--layout-A--tafs1" src="/img/tafs-mockup-1.png" alt="">
    </div>
  </div>
   <div class="casestudy casestudy--background-two">
    <div class="casestudy__content--layout-B flex-50">
      <a class="casestudy__content--layout-B__clientsite" target="_blank" href="https://www.drillnomics.com/">drillnomics.com</a>
      <a href="{{ "/drillnomics.html" | prepend: base_url }}"><h2>Powerful, intuitive analytics for the oil and gas industry</h2></a>
      <p><i>A highly efficient and stable workflow that interfaced with clients and internal tools through a Mobile App.</i></p>
      <p><a class="btn hvr-ripple-out btn--apple" target="_blank"
        href="{{ "/drillnomics.html" | prepend: base_url }}">Learn More</a>
      </p>
    </div>
    <div class="casestudy__photo--layout-B flex-50">
      <img class="casestudy__photo--layout-B--drillnomics" src="/img/drillnomic-laptop.png" alt="">
    </div>
  </div>
</section>