
<div class="md-modal md-effect-1" id="modal-13">
	<div class="md-content">

		<div id="form-container" class="contact-form">
			<h3 class="form-modal-greeting">Hi, nice to meet you!</h3>
        	<form id="contact-form">
				<div class="flex-direction">
                	<input class="form-modal-input flex-25" type="text" id="contact-name" placeholder="Name" />
					<input class="form-modal-input flex-25" type="email" id="contact-email" placeholder="Email Address" required />
				</div>
				<div class="flex-direction">
					<textarea class="form-modal-input flex-100" id="contact-message" placeholder="Anything else we should know?"></textarea>
				</div>

				<div class="center-wrapper">
					<input id="button-form" type="submit" value="Submit"
					class="btn btn--apple hvr-ripple-out" />
				</div>
            </form>
		</div>

		<div id="md-confirmation" class="md-hide">
			<div class="center-wrapper flex-25">
				<img src="{{ "/img/check.svg" | prepend: base_url }}" alt="High Five">
			</div>
			<h2 class="high-five flex-100">High five!</h2>
			<h4 class="flex-100">We got your message.</h4>
			<h4 class="flex-100">You'll hear from us soon!</h4>
		</div>

    </div>
</div>

<div class="md-overlay"></div>
