
<section class="subscribe-box">
	<div id="subscribe-labels">
		<h4>Sign Up for Weekly News!</h4>
		<p>Get the latest and best articles, plugin reviews and tutorials delivered to you inbox.</p>
	</div>

	<div id="subscribe-front">
		<form id="acklen-subscribe" class="subscribe-form">
			<div class="flex-direction">
				<input id="subscribe-email" type="email" class="form-modal-input flex-25"
						placeholder="E-mail" required />
			</div>

			<div class="center-wrapper">
				<input id="button-form" type="submit" value="Subscribe"
						class="btn btn--apple hvr-ripple-out" />
			</div>
		</form>
	</div>

	<div id="subscribe-back" class="md-hide">
		<div class="center-wrapper flex-25">
			<img src="img/check.svg" alt="High Five">
		</div>
		<h2 class="high-five flex-100">Thank You !</h2>
	</div>

	<small>No Spam Ever</small>
</section>
