<section class="text-block">
	<h2>Project Summary</h2>
	<p class="text-block--two-columns" >
		TAFS provides accounts receivable financing, a.k.a. factoring for trucking companies throughout the US and Canada. Factoring is when a company’s accounts receivable are converted into cash by selling outstanding invoices to TAFS, the factor. Rather than waiting for customers to remit payments based on 30, 60, or 90-day terms, TAFS quickly advances a percentage of the invoice to businesses. This steady cash flow help businesses fund critical expenses such as payroll, fuel, insurance, and maintenance.
	</p>
</section>
<section class="showcase">
	<img src="{{ "/img/tafs-app.png" | prepend: base_url }}" alt="pixl device">
	<small>Tafs Mobile App</small>
</section>
<section class="text-block text-block--small">
	<h2>The Challenge</h2>
	<p class="text-block--centered">
		TAFS manages upwards of 10,000 invoices a month and they were attempting to manage that workflow via email. This was challenging and time consuming because a lot of the documents weren’t legible causing tons of back and forth and, in some cases, requests were lost altogether. We needed to build a new platform to help their clients submit documents in a legible format and automatically put requests into a workflow tool without any information loss.</p>
</section>
<section class="text-block">
	<h2>The Approach</h2>
	<p class="text-block--two-columns" >
		We helped the TAFS team develop a mobile app which interfaced with their clients and also their internal tools; it created a workflow that is highly efficient and stable which carries the invoice detail directly from their clients, including all backup documentation and deposits that data and content into their invoice processing system.
		It also shares pertinent information with their task tracking tool by creating a new card for each invoice batch that is completed by the client and tags a TAFS team member so they know it’s ready to process. 
	</p>
</section>
<section class="screens" >
	<div class="screens--tafs ">
		<div class="screens--tafs__screens">
			<img class="screens--tafs__screens__one" src="{{ "/img/tafs-screens-1.png" | prepend: base_url }}" alt="">
			<img class="screens--tafs__screens__two" src="{{ "/img/tafs-screens-2.png" | prepend: base_url }}" alt="">
			<img class="screens--tafs__screens__three" src="{{ "/img/tafs-screens-3.png" | prepend: base_url }}" alt="">
		</div>
		<div class="screens--tafs__caption">
			<h2>The Evolution</h2>
			<p>Acklen helped visualize the user flow of the app by building a design strategy for the app which has been continually referred to as the app was being developed. Since we created the app for both IOS and Android, there were challenges in making the app work on both platforms which inherently have a different set of tools available for our team.
			</p>
			<p>The camera functionality was especially challenging on IOS but over the course of a few sprints we were able to find a solution that worked with the app. There have been a few roadblocks with 3rd party applications that were integrated with the app but we have overcome all of them so far and now have a very stable app that is helping clients receive funds faster and a much easier process for the TAFS team. </p>
		</div>
		<img src="{{ "/" | prepend: base_url }}img/tafs-screens-cam.png" alt="">
		
	</div>
</section>
<section class="tecnologiesUsed">
	<h2>Technologies Used</h2>
	<ul>
		<li>Phonegap/Cordova</li>
		<li>C#</li>
		<li>.NET framework</li>
		<li>CamScanner API </li>
		<li>Cadence</li>
		<li>HTML5/CSS3</li>
	</ul>
</section>
<section class="theResults theResults--tafs">
	<div class="theResults__box">
		<h2>The Results</h2>
		<ul class="check">
			<li><span>Over 1,800 clients are using the app on a regular basis</span></li>
			<li><span>TAFS currently processes over 40,000 invoice a month through our app</span></li>
			<li><span>Since TAFS works with numerous Spanish speaking clients the app now has a Spanish translation feature</span></li>
		</ul>
		<a class="hvr-icon-forward" target="_blank" href="https://www.tafs.com/">www.tafs.com</a>
	</div>
</section>

{% include callToAction.html %}