
<div class="team-filter">
	<a class="btn--left" href=""><img src="img/arrow-left.svg"></a>
	
	<button class="btn btn--ghost btn--ghost-active">C-Suite</button>
	<button class="btn btn--ghost" onclick="filterTeam('developer')">Developers</button>
	<button class="btn btn--ghost" onclick="filterTeam('designer')">Designers</button>
	<button class="btn btn--ghost">Dev-Ops</button>
	<button class="btn btn--ghost">Product Owners</button>
	<button class="btn btn--ghost">Scrum Masters</button>
	<button class="btn btn--ghost">QA</button>
	<button class="btn btn--ghost">Engagement Managers</button>
	<button class="btn btn--ghost">Admin & HR</button>
	<button class="btn btn--ghost">Sales and Marketing</button>

	<a class="btn--right" href=""><img src="img/arrow-right.svg"></a>

</div>