<section id="teamStructure">
	<h2>Team Structure</h2>
	<p>Our process and team structure are designed to get you from idea to revenue in the shortest possible timeframe, while minimizing the risks involved in development. We cover all the bases</p> 	
	<a href="{{ "/team.html" | prepend: base_url }}"><img src="img/teamStructure.svg" alt="Acklen Avenue Team Structure"></a>
	<h3 class="teamStructure__cta">Enough About Us <br /> Let's Talk About You</h3>
	<a class="btn btn--apple hvr-ripple-out md-trigger" data-modal="modal-13">Start the Conversation</a>
</section>