
<div class="member-card">
	<div class="member-card__img-container">
		<div class="member-card__quote">
			<p>“Rápido como bus en bajada"</p>
		</div>
		<img class="member-card__img" src="img/phtm.jpg">
	</div>

	<div class="member-card__info">
		<p class="member-card__name">
			Fernando Guevara
		</p>
		<p class="member-card__position">
			Senior Designer
		</p>
		<p class="member-card__location">
			Donostia, Spain
		</p>
		<div class="member-card__icons">
			<a href=""><svg class="icon icon-twittergreen"><use xlink:href="img/external-links.svg#icon-twittergreen"></use></svg></a>
			<a href=""><svg class="icon icon-facebookgreen"><use xlink:href="img/external-links.svg#icon-facebookgreen"></use></svg></a>
			<a href=""><svg class="icon icon-linkedingreen"><use xlink:href="img/external-links.svg#icon-linkedingreen"></use></svg></a>
			<a href=""><svg class="icon icon-githubgreen"><use xlink:href="img/external-links.svg#icon-githubgreen"></use></svg></a>
		</div>		
	</div>
</div>