
<div class="member-card picture-item" data-groups='"{{member.department}}"'>
	<div class="member-card__img-container">
		<div class="member-card__quote">
			<p>{{ member.quote }}</p>
		</div>
		<img class="member-card__img" alt="{{ member.gravatarEmail }}">
	</div>

	<div class="member-card__info">
		<p class="member-card__name">
			{{ member.name  }} {{ member.lastName }}
		</p>
		<p class="member-card__position">
			{{ member.position }}
		</p>
		<p class="member-card__location">
			{{ member.location }}
		</p>
		<div class="member-card__icons">
			{% unless member.twitter == ''  %}
				<a href="{{member.twitter}}"><svg class="icon icon-twittergreen"><use xlink:href="img/external-links.svg#icon-twittergreen"></use></svg></a>
			{% endunless %}

			{% unless member.facebook == '' %}
				<a href="{{member.facebook}}"><svg class="icon icon-facebookgreen"><use xlink:href="img/external-links.svg#icon-facebookgreen"></use></svg></a>
			{% endunless %}

			{% unless member.linkedin == ''  %}
				<a href="{{member.linkedin}}"><svg class="icon icon-linkedingreen"><use xlink:href="img/external-links.svg#icon-linkedingreen"></use></svg></a>
			{% endunless %}
	
			{% unless member.github == ''  %}
				<a href="{{member.github}}"><svg class="icon icon-githubgreen"><use xlink:href="img/external-links.svg#icon-githubgreen"></use></svg></a>
			{% endunless %}
		</div>		
	</div>
</div>