
<div class="team-filter">
	{% for department in site.data.departments %}
		<button class="btn-team" onclick="filterTeam('{{department.name}}')" id="{{ department.name | downcase | replace: ' ', '-' }}-item"><img src="{{department.avatar}}" alt="">{{department.name}}</button>
	{% endfor %}
</div>

<div class="team-filter-mobile">
	<div class="dropdown">
		<button onclick="myFunction()" class="dropbtn">Dropdown</button>
			<div id="myDropdown" class="dropdown-content">
				{% for department in site.data.departments %}
					<a onclick="filterTeam('{{department.name}}')" id="{{ department.name | downcase | replace: ' ', '-' }}-item">{{department.name}}</a>
				{% endfor %}
			</div>
	</div>
</div>