<section id="workForYou">
	<h2>How can Acklen Avenue work for you?</h2>
	<div class="tab-panels">
            <ul class="tabs">
                <li rel="panel1">
                	<img src="img/technology-leader.svg" alt="Technology Leader">
                	<p>Technology Leader</p>
                </li>
                <li rel="panel2" class="active">
                	<img src="img/business-leader.svg" alt="Business leader">
                	<p>Business Leader</p></li>
                <li rel="panel3">
					<img src="img/finance-leader.svg" alt="Finance leader">
                	<p>Operations Leader</p>
                </li>
            </ul>
            <div id="panel1" class="panel ">
                <h4>About you:</h4>
                <ul class="check">
                	<li><span>You have built a phenomenal team in-house, but they were already at capacity a few projects ago.</span></li>
                	<li><span>You have projects on the backlog you know would deliver value if you just had time to get them resourced.</span> </li>
                	<li><span>You're committed to building for scalability and maintainability — you've been known to dream about an API-driven architecture and effective unit test coverage.</span></li>
					<li><span>You have a clear sense of what you don't want in a development team.</span></li>
					<li><span>You're building the jet while it's flying at 30,000 feet.</span></li>
                </ul>
                <div class="thingToRead">
	                <p>We run alongside your team to deliver quality consistently, owning the project and its success.</p>
	                <hr>
					<h4>Things you should read:</h4>
					<a class="hvr-icon-forward" href={{ "/an-experiment-done-very-right.html" | prepend: base_url }}>An experiment done very right</a>
				</div>

            </div>
            <div id="panel2" class="panel active">
                <h4>About you:</h4>
                <ul class="check">
                	<li><span>You see opportunity that you know you could capture today if you had the right team.</span></li>
                	<li><span>You know that development is complicated and risky — maybe you've even been burned before.</span> </li>
                	<li><span>You're not looking for an order taker. You need a trusted partner who brings expertise and insight to technology decisions.</span></li>
                	<li><span>You feel the tension between budget and risk mitigation.</span></li>
                </ul>
                <div class="thingToRead">
	                <p>We're no "rent-a-dev." We are your in-house dedicated team, within our ecosystem of technological support and expertise.</p>
	                <hr>
					<h4>Things you should read:</h4>
					<a class="hvr-icon-forward" href={{ "/three-questions-to-ask-when-starting-a-development-project.html" | prepend: base_url }}>Starting a development project</a>

				</div>
            </div>
            <div id="panel3" class="panel">
                <h4>About you:</h4>
                <ul class="check">
                	<li><span>Your job is to get it done, efficiently and effectively.</span></li>
                	<li><span>You know the risk, delay, and expense of hiring developers internally.</span> </li>
                	<li><span>You want to ensure product quality. You don't want to have to spend more money in six months to fix poor work</span></li>
                	<li><span>You love the idea of outsourcing for the flexibility, but your standards for a partner are very high.</span></li>
                </ul>
                <div class="thingToRead">
                	<p>We are built for scalability: start with one team and flex up to two or three based on priorities and budget. Either way, we are owning the project and getting you to ROI sooner than you thought possible.</p>
               		<hr>
					<h4>Things you should read:</h4>
					<a class="hvr-icon-forward" href={{ "/5-secrets-to-quality-software-delivery.html" | prepend: base_url }}>5 secrets to quality software delivery</a>
				</div>
            </div>
	</div>
</section>