---
layout: acklen
---
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Acklen Avenue Labs</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/accolades/index.html">Accolades</a></li>
            <li class="active">{{page.title}}</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<br/>

<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <h2 class="title-v2">{{page.title}}</h2>
            This certification was earned by achieving measurable and observable mastery in the following areas:
            <p>{{ content }}</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="{{page.image}}" alt="{{page.title}}">
            <p class="pull-right">Version {{ page.version }}</p>
        </div>
    </div>
</div><!--/container-->		
<!--=== End Content Part ===-->