---
layout: acklen
---
<header class="blog-post-header">
    <div class="thumb-block">
        <img src="{{ page.image }}" alt="" class="blog-header-thumb" />
    </div>
    <!-- THUMB BLOCK -->

    <div class="title-block">
        <h1>{{ page.title }}</h1>
    </div>
    <!-- TITLE BLOCK -->

    <span class="post-date">{{ page.date | date: '%B %d, %Y' }}</span>
    <span class="post-author">by <a href="#" class="post-author-link">{{ page.author }}</a></span>

    <div class="clear"></div>
</header>
<!-- BLOG HEADER -->

<section class="blog-content">
    {{ content }}
</section>
<!-- BLOG CONTENT -->

{% include DevelopmentWithHeart.html %}
{% include ContactUs.html %}